
/****** structural appearance ******/
body {
    background-color: #dddddd;
    padding-left: 310px;
    padding-right: 310px;
}

.outerBox {
    background-color: #444444;
    padding: 25px;
    box-sizing: content-box;
    width: 95%;
    margin: 0 auto;
}

.innerBox {
    background-color: #444444;
    border: 5px solid #777777;    
    padding-top: 15px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 50px;
    box-sizing: border-box;
    width: 98%;
    margin: auto auto;
}

/****** header ******/

.logo {
    color: white;
    font-family: 'Cormorant Infant', serif;
    font-style: italic;
    font-size: 45px;
    text-align: center;
    font-weight: 600;
}


/****** nav ******/
nav {
    text-align: center;
    padding-bottom: 30px;
}

a {
    color: white;
    font-family: sans-serif;
    letter-spacing: .75px;
    font-size: 17px;
    font-weight: 700;
}

.noLine {
    text-decoration: none !important;
}

.divider {
    display: inline;
    font-weight: 100;
    color: #959595;
}


.greenLink {
    color: #66cd9b;
}



/****** main content ******/
hr {
    border: .5px solid white;
}

h2 {
    
    color: white;
    font-family: sans-serif;
    letter-spacing: .75px;
    font-size: 22px;
    font-weight: 700;
    padding-top: 25px;
    padding-bottom: 17px;
}

h3{
    color: #bbbbbb;
    font-family: sans-serif;
    letter-spacing: 1px;    
}


p {
    color: white;
    font-family: 'PT Serif', serif;
    font-size: 16.35px;
    line-height: 27px;
}

ul {
    display: inline-block;
    margin-bottom: 10px;
}

li {
    list-style-type: square;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    padding: 0px;
}


img {
    width: 210px;
    height: 248px;
    float: right; 
    margin: 4px 8px 10px 38px; 
    border: 1px solid #959595;
    padding: 4px;
}

.resume{
    font-size: 17.5px;
}

.company {
    display: inline;
    font-family: sans-serif;
    font-weight: 200;
}

.date {
    display: inline;
    font-family: sans-serif;
    font-weight: 200;
    color: #b3b3b3;
    font-size: 13px;
}

.description {
    padding-top: 0px;
    font-family: serif;
    font-size: 17.5px;
    color: #b3b3b3;
    margin-top: 0px;
}

/****** footer ******/

.footer {
    text-align: center;
    font-size: 15px;
    padding-top: 25px;
}

